<div class=container-fluid>
  <div class="navbar-header">
    <%= link_to("simplybecky", root_url, class: "navbar-brand hvr-underline-from-center ")%>
  </div>

  <div class="nav navbar-nav navbar-right">
    <li><%= link_to("blog", posts_url, id: "blog", class: "hvr-underline-from-center")%></li>
    <li><%= link_to("about", root_url, id: "info", class: "hvr-underline-from-center")%></li>
    <% if user_signed_in? %>
      <li><a class="hvr-underline-from-center"><%= current_user.email %></a></li>
      <li><%= link_to 'edit profile', edit_user_registration_path, :class => 'navbar-link hvr-underline-from-center' %></li>
      <li><%= link_to "logout", destroy_user_session_path, method: :delete, :class => 'navbar-link hvr-underline-from-center'  %></li>
    <% else %>
      <li><%= link_to "sign up", new_user_registration_path, :class => 'navbar-link hvr-underline-from-center'  %></li>
      <li><%= link_to "login", new_user_session_path, :class => 'navbar-link hvr-underline-from-center'  %></li>
    <% end %>
  </div>

</div>
<div class="jumbotron">
  <div class="container">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">

        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>

    <p></p>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-default" %>
    <p></p>

    <%= link_to "Back", :back %>
  </div>
</div>
