<head>
  <%= stylesheet_link_tag "welcome", :media => "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>

<body>

  <a name="intro"></a>
  <div class="intro">
    <div class="container-fluid">
      <div class="navbar navbar-default">
          <div class="navbar-header">
            <%= link_to("simplybecky", "#", class: "navbar-brand hvr-underline-from-center ")%>
          </div>

          <div class="nav navbar-nav navbar-right">
            <li><%= link_to("blog", "#", id: "blog", class: "hvr-underline-from-center")%></li>
            <li><%= link_to("about", "#", id: "info", class: "hvr-underline-from-center")%></li>
            <% if user_signed_in? %>
              <li>
                Logged in as <strong><%= current_user.email %></strong>.
                <%= link_to 'edit profile', edit_user_registration_path, :class => 'navbar-link hvr-underline-from-center' %>
                <%= link_to "logout", destroy_user_session_path, method: :delete, :class => 'navbar-link hvr-underline-from-center'  %>
              </li>
            <% else %>
              <li>
                <%= link_to "sign up", new_user_registration_path, :class => 'navbar-link hvr-underline-from-center'  %>
              </li>
              <li>
                <%= link_to "login", new_user_session_path, :class => 'navbar-link hvr-underline-from-center'  %>
              </li>
            <% end %>
          </div>

      </div>
    </div>

    <div class="title">
      <h1>SimplyBecky</h1>
      <h2>—my thoughts my blog—</h2>
      <span id="chevron" class="fa fa-chevron-down hvr-icon-hang"></span>
    </div>
    <canvas></canvas>
  </div>

  <div id="about" class="about">
    <div class="page-header">
      <h1>What is up? <small>my chanclas</small></h1>
      <div id="picture" class="hovicon effect-1 sub-a effect-4 sub-b"></div>
      <div class="container">
        <div class="bio">
          <p>Hello there! My name’s Rebecca and I’m currently an undergrad student at UC Berkeley. College is such a new and crazy time of my life, and I want to document everything about it. Even though school is pretty tough, a little fun here and there doesn’t hurt! Work hard play hard! From weird happenings around Berkeley to my next rave adventure, I want to take you with me! Happy reading!</p>
        </div>

          <div class="row">
            <a href="#"><span class="fa fa-facebook hvr-icon-bob"></span></a>
            <a href="#"><span class="fa fa-instagram hvr-icon-bob"></span></a>
            <a href="#"><span class="fa fa-twitter hvr-icon-bob"></span></a>
            <a href="#"><span class="fa fa-linkedin hvr-icon-bob"></span></a>
          </div>

            <span id="chevron1" class="fa fa-chevron-down hvr-icon-hang"</span>

      </div>
    </div>


  </div>

  <div id="posts" class="posts">
    <div class="page-header">
      <h1>My Posts</h1>
    </div>
    <div class="container">

      <div class="new">
        <div class="jumbotron">
          <%= link_to "New Post", new_post_path, class: "button btn btn-default"%>
        </div>
      </div>

      <hr />
      <% @posts = Post.all %>
      <% @posts = @posts.order('updated_at DESC') %>
      <% @posts.each do |post| %>
        <div class="col-md-4">

          <div class="jumbotron">

            <h2><%= post.title %></h2>
            <h5><%= time_ago_in_words post.updated_at %> ago</h5>

            <div class="content">
              <%= markdown(post.body[0..70] + "...")%>
            </div>

            <div id="popup" class="popup">
              <%= markdown(post.body) %>
            </div>

            <% if post != @posts.last %>
            <hr />
            <% end %>

          </div>

        </div>

      <% end %>


    </div>
  </div>

</body>
